<!doctype html>
<html lang="en-US">
  <head>
    <title>File List</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/app.css') }}">
  </head>
  <body>
    <header>
      <h1>Content Management System</h1>
      <div class="actions">
        {% block header_links %}

        {% endblock header_links %}
      </div>
    </header>
    {% for message in get_flashed_messages() %}
      <p class="message">{{ message }}</p>
    {% endfor %}
    <main>
      {% block content %}

      {% endblock content %}
    </main>
  </body>
</html>