<!doctype html>
<html lang="en-US">
  <head>
    <title>CMS</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <header>
      <h1>Content Management System</h1>
      <div class="actions">
        {% block header_links %}

        {% endblock header_links %}
      </div>
    </header>
    <!-- Deviates from LS solution, which puts the flash message 
     in the extension template (e.g. index.html) instead of here in layout.html -->
    {% with messages = get_flashed_messages() %}
      <p>{{ message }}</p>
    {% endwith %}
    <main>
      {% block content %}

      {% endblock content %}
    </main>
  </body>
</html>